@model Cruz_Saco.Models.Estudiante

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inhabilitar</title>
</head>
<body>

    <h3>¿Estás seguro de Inhabilitar este estudiante?</h3>
<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Código)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Código)
        </dd>
        <!--dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo_apoderado)
        </!--dt>
        <dd-- class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo_apoderado)
        </dd-->
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apoderado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apoderado)
        </dd>
        <!--dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido_Paterno)
        </!--dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido_Paterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido_Materno)
        </dt>
        <dd-- class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido_Materno)
        </dd-->
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <!--dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
        </!--dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Nacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_Documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_Documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_Documentoo)
        </dt>
        <dd-- class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_Documentoo)
        </dd-->
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Número_Documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Número_Documento)
        </dd>
        <!--dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </!--dt>
        <dd-- class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd-->
    </dl>
    
    <form asp-action="Delete">
            <input type="submit" value="Inhabilitar" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
